@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;0,800;1,500&family=Major+Mono+Display&family=Markazi+Text:wght@400;500&display=swap');

:root {
  --primary-color: #495E57;
  --primary-color-2: #F4CE14;

  --secondary-color: #EE9972;
  --secondary-color-2: #FBDABB;
  --secondary-color-3: #EDEFEE;
  --secondary-color-4: #333333;

  --max-width: 1024px;
}

nav {
  @apply justify-between items-center;

  .links {
    @apply hidden md:flex gap-4;
  }

  .hamburger-btn {
    @apply md:hidden inline;
  }
}

.mobile-nav {
  @apply md:hidden flex flex-col items-center gap-2;

}

.copy {
  @apply text-center;
}

.bg-primary {
  background-color: var(--primary-color)
}

.bg-primary-2 {
  background-color: var(--primary-color-2)
}

header>nav,
section>div,
footer>div,
.container {
  margin: 0 auto;
  max-width: var(--max-width);
}

.hero-section {
  background-color: var(--primary-color);
  display: relative;

  .img-wrapper {
    max-width: 350px;
    background-image: url("/src/assets/restauranfood.jpg");
    background-size: 100%;
    aspect-ratio: 1;
    border-radius: 2em;
    margin: 0 0 0 auto;
  }
}

.book-button {
  @apply inline-block;
}

.special-section img {
  width: auto;
}

.special-section>div:first-child {
  @apply flex md:flex-row flex-col items-center gap-4;

  h2 {
    @apply flex-grow;
  }
}

.special-section>div:nth-child(2) {
  @apply mt-4;
  @apply grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-4;


  img {
    width: 100%;
    border-radius: 1em 1em 0 0;
    margin: 0 auto;
    object-fit: cover;
    aspect-ratio: 3/2;
  }

  >div {
    border: 1px solid var(--primary-color);
    border-radius: 1em;
    background-color: var(--secondary-color-3);
    font-family: Karla;
    font-size: 14pt;

    @apply shadow-lg;

    >div {
      @apply pt-2 px-4 pb-4;
    }
  }

}

.hero-section>div {
  @apply grid grid-cols-2;

  color: var(--primary-color-2);

  img {
    border-radius: 1em;
  }
}

.review-section {
  text-align: center;
  font-family: Karla;
  background-color: var(--primary-color-2);

  h2 {
    @apply my-6;
  }

  h3 {
    font-size: 18pt;
    font-weight: bold;
  }
}

.review-section .stars {
  @apply my-2 text-xl;
}

.review-section>div {
  @apply mt-4;

  &:nth-child(2) {
    @apply grid lg:grid-cols-2 sm:grid-cols-1 gap-4;

    >div {
      @apply p-4;
      border-radius: 16px;
      border: 1px solid var(--secondary-color-2)
    }
  }
}

.about-section {
  p {
    @apply my-4;
    font-family: Karla;
  }

  >div {
    @apply grid gap-6 md:grid-cols-2 sm:grid-cols-1;

    img {
      border-radius: 16px;
      sm: w-full;
    }
  }
}

.review {
  background-color: var(--secondary-color-3);
}

h1 {
  color: var(--primary-color-2);
  font-family: "Markazi Text";
  font-weight: 500;
  font-size: 64pt;
  line-height: 0.9em;
  @apply m-0 p-0;
}

.button {
  @apply p-4;
  font-weight: bold;
  background-color: var(--primary-color-2);
  color: black;
  border-radius: 16px;
}

h2 {
  font-family: "Markazi Text";
  font-weight: 500;
  font-size: 64pt;
  line-height: 0.8em;
}

.logo {}

nav {
  font-family: Karla;
  font-weight: bold;
}

.subtitle {
  line-height: 0.9em;
  font-family: "Markazi Text";
  font-size: 40pt;
  color: white;
}

.lead {
  @apply my-4;
  font-weight: bold;
  color: white;
  font-family: "Karla"
}

header {
  @apply w-full;

  nav {
    @apply w-full flex gap-4;
  }
}

section {
  @apply p-6;
}

header,
footer {
  @apply p-6;
}

footer {
  @apply bg-gray-300
}

.booking-form {
  @apply flex flex-col gap-2 w-fit mx-auto;
}

.booking-form label {
  display: inline-block;
  min-width: 200px;
}

.booking-form>div {
  @apply grid grid-cols-1 sm:grid-cols-2;
}

.booking-form {
  @apply py-4 px-8 mt-8;
  border-radius: 16px;
  background-color: var(--primary-color-2);

  input,
  select {
    @apply w-full;
    @apply p-1;
    line-height: 1.4em;
  }
}

.booking-form button {
  &[disabled] {
    color: #999;
    background-color: white;
  }

  @apply p-2 font-bold;
  background-color: var(--secondary-color-4);
  color: var(--primary-color-2);
  border-radius: 16px;
}

.booking-form hr {
  @apply my-2;
  border-color: var(--primary-color)
}

.making-booking,
.successful-booking {
  @apply my-8;
  color: var(--secondary-color-3);
  text-align: center;
  font-size: 18pt;
}

img.whitelogo {
  @apply mx-auto block;
}

.back-to-home {
  @apply py-2 px-4;
  border-radius: 16px;
  background-color: var(--primary-color-2);
  color: black;
}
